// File import statement:
// @use "@/page/components" as *;

// >>> Controllers — START
@use "@/scss/controllers/dynamics" as *; // controllers for mixins and variables
@use "@/scss/controllers/extends" as *; // controller for modules
// <<<<< Controllers — END

// >>>> Components — START
// @use "@/<path>/Example" as *;
// @use "./Example" as *;
// <<<<<< Components — END

.components_page {
	.vert_charts {
		height: 400px;

		.vert_chart {
			width: 84px;
			height: 100%;
			border-top-left-radius: 50rem;
			border-top-right-radius: 50rem;
			transition: 0.75s ease-in-out;

			&.ready,
			&.wait {
				height: 50px;

				&.triggered {
					height: 400px;
				}
			}

			&.ready {
				background-color: $color_white;
			}

			&.wait {
				background-color: $color_first;
			}
		}
	}
}

/////
////
/*/==================== @media ====================/*/
/////////////
////////////
////////////////////////
/* @media (max-width) */
////////////////////////

@media (max-width: 1399.98px) {
	.components_page {
	}
}

@media (max-width: 1199.98px) {
	.components_page {
		width: calc(100% - 20px);
	}
}

@media (max-width: 991.98px) {
	.components_page {
	}
}

@media (max-width: 767.98px) {
	.components_page {
	}
}

@media (max-width: 575.98px) {
	.components_page {
	}
}

// -------------- //

////////////////////
/* @media between */
////////////////////

@media (min-width: 576px) and (max-width: 767.98px) {
	.components_page {
	}
}

@media (min-width: 576px) and (max-width: 991.98px) {
	.components_page {
	}
}

@media (min-width: 768px) and (max-width: 991.98px) {
	.components_page {
	}
}

@media (min-width: 992px) and (max-width: 1199.98px) {
	.components_page {
	}
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
	.components_page {
	}
}

// ------------------ //

////////////////////////
/* @media (min-width) */
////////////////////////

@media (min-width: 576px) {
	.components_page {
	}
}

@media (min-width: 768px) {
	.components_page {
	}
}

@media (min-width: 992px) {
	.components_page {
	}
}

@media (min-width: 1200px) {
	.components_page {
	}
}

@media (min-width: 1400px) {
	.components_page {
	}
}

// ---------------- //

//////////////////////
/* mobile landscape */
//////////////////////

@media (max-height: 400px) and (orientation: landscape) {
	.components_page {
	}
}

// ----------------- //

///////////////////////
/* iPad Pro portrait */
///////////////////////

@media (width: 1024px) and (height: 1366px) {
	.components_page {
	}
}
