../.git/
../bootstrap/
../public/
../storage/
../vendor/
../.env*
../artisan
../composer.lock
../package-lock.json
../README.md

/.next/
/cache/
/lang/
/node_modules/
/public/
/src/pages/
/src/static/bessex/
/src/static/css/
package-lock.json
pnpm-lock.yaml
