// File import statement:
// @extend %icon_info_element;

// >>> Controllers — START
@use "@/scss/controllers/dynamics" as *; // controllers for mixins and variables
// <<<<< Controllers — END

// >>>> Components — START
// @use "./Example" as *;
// <<<<<< Components — END

.icon_info_element {
}

/////
////
/*/==================== @media ====================/*/
/////////////
////////////
////////////////////////
/* @media (max-width) */
////////////////////////

@media (max-width: 1399.98px) {
	.icon_info_element {
	}
}

@media (max-width: 1199.98px) {
	.icon_info_element {
		border-radius: 50rem;

		.bg_color_section {
			fill: var(--color_section);
		}

		.icon_path {
			fill: $color_white;
		}
	}
}

@media (max-width: 991.98px) {
	.icon_info_element {
	}
}

@media (max-width: 767.98px) {
	.icon_info_element {
	}
}

@media (max-width: 575.98px) {
	.icon_info_element {
	}
}

// -------------- //

////////////////////
/* @media between */
////////////////////

@media (min-width: 576px) and (max-width: 767.98px) {
	.icon_info_element {
	}
}

@media (min-width: 576px) and (max-width: 991.98px) {
	.icon_info_element {
	}
}

@media (min-width: 768px) and (max-width: 991.98px) {
	.icon_info_element {
	}
}

@media (min-width: 992px) and (max-width: 1199.98px) {
	.icon_info_element {
	}
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
	.icon_info_element {
	}
}

// ------------------ //

////////////////////////
/* @media (min-width) */
////////////////////////

@media (min-width: 576px) {
	.icon_info_element {
	}
}

@media (min-width: 768px) {
	.icon_info_element {
	}
}

@media (min-width: 992px) {
	.icon_info_element {
	}
}

@media (min-width: 1200px) {
	.icon_info_element {
	}
}

@media (min-width: 1400px) {
	.icon_info_element {
	}
}

// ---------------- //

//////////////////////
/* mobile landscape */
//////////////////////

@media (max-height: 400px) and (orientation: landscape) {
	.icon_info_element {
	}
}

// ----------------- //

///////////////////////
/* iPad Pro portrait */
///////////////////////

@media (width: 1024px) and (height: 1366px) {
	.icon_info_element {
	}
}
